* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

header {
    width: 100%;
    height: 15vh;
    background-color: #fff;
    display: flex
}

.box-logo {
    padding: 2rem 2rem 2rem 7rem;
    width: 20%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-header {
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 2rem 5rem 2rem 2rem;
}

#nav-mobile {
    display: none;
   }

.menu {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: right;
}

.li-header {
    display: flex;
    justify-content: right;
    align-items: right;
    padding-left: 2rem;
    font-family: Montserrat;
    cursor: pointer;
}

.li-header:hover {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 18px;
    transition: 0.8s;
}

.li-header-special {
    font-family: Montserrat;
    font-weight: 800;
    display: flex;
    justify-content: right;
    align-items: right;
    padding-left: 2rem;
    cursor: pointer;
}

.li-header-special:hover {
    font-size: 20px;
    transition: 0.6s;
}

/*MAIN PART. 1*/

.main-one {
    width: 100%;
    height: 603px;
    background: transparent url('images/laranja\ azul\ recorte.png') 0% 0% no-repeat padding-box;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 6rem;
}

.txt-main-one {
    font-family: Montserrat;
    font-weight: 800;
    color: #fff;
    font-size: 3rem;
}

.txt-dois-main-one {
    font-family: Montserrat;
    font-weight: 300;
    color: #fff;
    font-size: 2rem;
    padding-top: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.txt-dois-main-one:hover {
    font-size: 2.2rem;
    text-decoration: underline;
    transition: 0.8s;
}

/*MAIN PART. 2*/

#main-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    background-color: #fff;
    margin: 3rem auto 3rem ;

}

.images-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 310px;
    height: 310px;
}

.img-main {
    width: 300px;
    height: 300px;
}

.img-main:hover {
    width: 330px;
    height: 330px;
    transition: 1s;
}

/*FOOTER*/

footer {
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 12vh;
}

#box-socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 12vh;
    margin-left: 1.5rem;
}

.socialMedia {
    padding-left: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia img {
    width: 70%;
}

#box-copyright {
    width: 50%;
    display: flex;
    margin: auto;
}

.copyright {
    margin-left: 1rem;
}

.txt-one {
   font-size: 1.2rem;
   font-family: Montserrat;
   font-weight: 800;
   text-transform: capitalize;
}

.txt-two {
    font-size: 1rem;
    font-family: Montserrat;
    font-weight: 300;
    text-transform: capitalize;
}

#topo-button {
    display: none;
}

/*MOBILE*/

@media (min-width: 201px) and (max-width: 480px){
    header {
        width: 100%;
        height: 6vh;
        background-color: #fff;
        display: block;
    }
    
   #nav-header {
    display: none;
   }

   #nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 30%;
    height: 6vh;
   }

   #nav-mobile img{
    width: 20%;
    height: 50%;
   }

   .box-logo {
    padding: 0;
    width: 60%;
    height: 6vh;
    display: flex;
    justify-content: left;
    float: right;
    padding-left: 1rem;
   }

   .portflow-logo {
    width: 50%;
   }

   .main-one {
    width: 100%;
    height: 74vh;
    background: transparent url(./images/laranja\ azul\ recorte2.png) 0% 0% no-repeat padding-box;
    background-size: 100%;
    display: flex;
   }

   .box-text {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}
    .txt-main-one {
    font-family: Montserrat;
    font-weight: 800;
    color: #fff;
    font-size: 2rem;
}
    .txt-dois-main-one {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 1.3rem;
    color: #fff;
    padding-top: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

    .txt-dois-main-one:hover {
    font-size: 1.5rem;
    text-decoration: underline;
    transition: 0.8s;
}

    #main-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #fff;

}

    .images-main {
    display: flex;
    width: 70%;
    height: 70%;
}

    .img-main {
    width: 100%;
    height: 100%;

}

    .img-main:hover {
    width: 120%;
    height: 120%;
    transition: 1s;
}

footer {
    background-color: #fff;
    display: block;
    width: 100%;
    height: 32vh;
}

#box-socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 10vh;
    background-color: #7FDBD4;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.socialMedia img {
    width: 60%;
    height: 60%;
}

#box-copyright {
    width: 40%;
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 0;
}

.copyright {
    display: block;
    width: 50%;
    height: 10vh;
    margin: 0;
}

.txt-one {
   font-size: 0.9rem;
   font-family: Montserrat;
   font-weight: 800;
   text-transform: capitalize;
}

.txt-two {
    font-size: 0.7rem;
    font-family: Montserrat;
    font-weight: 300;
    text-transform: capitalize;
}

#topo-button {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 10%;
    width: 20%;
    height: 20px;
    font-family: Montserrat;
    background-color: #333333;
    border-color: #333333;
    color: #fff;
}

}